# Pandas 1

## Caelan Osman

## Math 403 sec. 2

## Jun 19, 2021

In [1]:
import numpy as np
import pandas as pd
from datetime import datetime

# Problem 1

In [2]:
# Prob 1
def prob1(file='budget.csv'):
    """
    Read in budget.csv as a DataFrame and perform each of these operations on the DataFrame. 
    
    1) Reindex the columns such that amount spent on food is the first column and all other columns maintain the same ordering.
    2) Sort the DataFrame in descending order based on how much money was spent on Groceries.
    3) Reset all values in the 'Rent' column to 800.0.
    4) Reset all values in the first 5 data points to 0.0
    
    Return the values of the updated DataFrame as a NumPy array.
    
    Parameters:
        file (str): name of datafile
        
    Return:
        values (ndarray): values of DataFrame
    """
    data = pd.read_csv(file, delimiter=',', index_col=0)
    cols = ['Groceries', 'Rent', 'Utilities', 'Dining Out', 'Gas', 'Out With Friends', 'Netflix']
    data = data.reindex(columns=cols)
    data = data.sort_values('Groceries', ascending=False)
    data['Rent'] = 800.0
    #Ask about slicing
    #setting all values to zero
    data.iloc[:5, :] = 0        
    
    vals = data.values
    
    return vals
prob1()

array([[  0.,   0.,   0.,   0.,   0.,   0.,   0.],
       [  0.,   0.,   0.,   0.,   0.,   0.,   0.],
       [  0.,   0.,   0.,   0.,   0.,   0.,   0.],
       [  0.,   0.,   0.,   0.,   0.,   0.,   0.],
       [  0.,   0.,   0.,   0.,   0.,   0.,   0.],
       [174., 800.,  90.,  37.,  30.,  23.,   8.],
       [174., 800.,  82.,  35.,  nan,  26.,  nan],
       [172., 800.,  82.,  31.,  30.,  26.,   8.],
       [171., 800.,  82.,  40.,  nan,  23.,  nan],
       [171., 800.,  82.,  35.,  nan,  27.,  nan],
       [171., 800.,  80.,  30.,  31.,  22.,  nan],
       [170., 800.,  90.,  34.,  33.,  nan,   8.],
       [170., 800.,  85.,  34.,  nan,  25.,  nan],
       [167., 800.,  92.,  30.,  nan,  29.,  nan],
       [163., 800.,  85.,  30.,  nan,  nan,  nan],
       [163., 800.,  90.,  31.,  nan,  25.,  nan],
       [161., 800.,  85.,  30.,  nan,  24.,  nan],
       [160., 800.,  91.,  32.,  28.,  23.,  nan],
       [158., 800.,  92.,  nan,  nan,  22.,  nan],
       [157., 800.,  82.,  nan,  32.,  21.,   8.],
       [155., 800.,  80.,  nan,  33.,  26.,   8.],
       [155., 800.,  92.,  33.,  nan,  nan,  nan],
       [153., 800.,  80.,  31.,  30.,  27.,   8.],
       [152., 800.,  95.,  30.,  46.,  nan,   8.],
       [152., 800.,  85.,  39.,  nan,  29.,  nan],
       [152., 800.,  95.,  32.,  34.,  22.,   8.],
       [150., 800.,  90.,  34.,  nan,  25.,  nan],
       [148., 800.,  91.,  40.,  31.,  nan,  nan],
       [148., 800.,  91.,  34.,  28.,  27.,  nan],
       [146., 800.,  95.,  31.,  32.,  23.,   8.],
       [145., 800.,  91.,  30.,  29.,  28.,  nan],
       [145., 800.,  82.,  40.,  nan,  27.,  nan],
       [145., 800.,  90.,  32.,  nan,  29.,  nan],
       [143., 800.,  95.,  38.,  34.,  21.,   8.],
       [141., 800.,  82.,  37.,  nan,  27.,  nan],
       [140., 800.,  82.,  31.,  30.,  24.,   8.],
       [140., 800.,  92.,  34.,  nan,  24.,  nan],
       [137., 800.,  82.,  nan,  31.,  28.,   8.],
       [137., 800.,  82.,  36.,  nan,  20.,  nan],
       [137., 800.,  95.,  36.,  34.,  23.,   8.],
       [136., 800.,  92.,  36.,  nan,  22.,  nan],
       [135., 800.,  90.,  34.,  32.,  22.,   8.],
       [134., 800.,  82.,  39.,  35.,  24.,   8.],
       [133., 800.,  91.,  36.,  nan,  23.,  nan],
       [131., 800.,  85.,  38.,  nan,  23.,  nan],
       [131., 800.,  80.,  31.,  29.,  nan,  nan],
       [130., 800.,  85.,  31.,  nan,  22.,  nan],
       [130., 800.,  91.,  34.,  nan,  21.,  nan]])

# Problem 2

In [3]:
# Prob 2
def prob2(file='budget.csv'):
    """
    Read in file as DataFrame.
    Fill all NaN values with 0.0.
    Create two new columns, 'Living Expenses' and 'Other'. 
    Sum the columns 'Rent', 'Groceries', 'Gas' and 'Utilities' and set it as the value of 'Living Expenses'.
    Sum the columns 'Dining Out', 'Out With Friends' and 'Netflix' and set as the value of 'Other'.
    Identify which column correlates most with 'Living Expenses' and which correlates most with 'Other'.

    Return the names of each of those columns as a tuple.
    The first should be of the column corresponding to \li{'Living Expenses'} and the second to \li{'Other'}.
    
    Parameters:
        file (str): name of datafile
        
    Return:
        values (tuple): (mean of col 1, mean of col 2)
    """
    #read in data and fill NaN values with 0
    data = pd.read_csv(file, delimiter=',', index_col=0).fillna(0)
    
    #sum Rent, Groceries, Gas, and utilites and set as value of Living Expenses
    #Row by Row? Or the entire column? here it is done row by row
    data['Living Expenses'] = data['Rent'] + data['Groceries'] + data['Gas'] + data['Utilities']
    #sum Dining out, Out With Friends, and Netflix
    #same question as above
    data['Other'] = data['Dining Out'] + data['Out With Friends'] + data['Netflix']
    
    #get correlation matrix
    correlation_matrix = data.corr().abs()
    #set self-corelation to zero
    correlation_matrix.loc['Living Expenses', 'Living Expenses'] = 0
    correlation_matrix.loc['Other', 'Other'] = 0
    #get index label for max value
    correlation = correlation_matrix.idxmax()
    #return maximum correlation for 'Living Expenses' and 'Other'
    return correlation['Living Expenses'], correlation['Other']
prob2()

('Rent', 'Dining Out')

# Problem 3

In [4]:
def prob3(file='crime_data.csv'):
    """
    Read in crime data and use pandas to answer the following questions.
    
    Set the index as the column 'Year', and return the answers to each question as a tuple.
    
    1) Identify the three crimes that have a mean over 1,500,000. 
    Of these three crimes, which two are very correlated? 
    Which of these two crimes has a greater maximum value?
    Save the title of this column as a variable to return as the answer.
    
    2) Examine the data since 2000.
    Sort this data (in ascending order) according to number of murders.
    Find the years where Aggravated Assault is greather than 850,000.
    Save the indices of the masked and reordered DataFrame as a NumPy array to return as the answer.
    
    3) What year had the highest crime rate? 
    In this year, which crime was committed the most? 
    What percentage of the total crime that year was it? 
    Save this value as a float.
    
    
    Parameters:
        file (str): data
    
    Return:
        ans_1 (string): answer to Question 1
        ans_2 (ndarray): answer to Question 2
        ans_3 (float): answer to Question 3
    """
    #question 1
    data = pd.read_csv(file, delimiter=',', index_col='Year')
    #crimes only dataframe
    crime_df = data[data.columns.difference(['Population', 'Total'])]
    #get mean series
    mean = crime_df.mean()
    #create mask where means are above 1.5mil
    mask = mean[mean.index] > 1500000
    #get list of crimes given by the mask
    l_m_c = list(mean[mean.index][mask].index)
    #create new dataframe with only l_m_c as columns
    l_m_c_df = crime_df[l_m_c]
    #create correlation matrix
    cm = l_m_c_df.corr().abs()
    
    #ignore self_correlation
    np.fill_diagonal(cm.values, 0)
    #get two most correlated
    most_correlated = list(cm.max().sort_values(ascending=False).iloc[0:2].index)
    #get index with greatest max value
    greatest = data[most_correlated].max().sort_values(ascending=False).index[0]
    
    #question 2
    mask = data.index >= 2000
    df_2k = data[mask]
    df_2k = df_2k.sort_values('Murder', ascending=True)
    mask = df_2k['Aggravated Assault'] > 850000
    df_2k_masked = df_2k[mask]
    ans2 = np.array(df_2k_masked.index)
    
    #question 3
    #add column for Crime Rate
    data['Crime Rate'] = data['Total'] / data['Population']
    data_sorted = data.sort_values('Crime Rate', ascending=False)
    worst_year = data_sorted.idxmax()['Crime Rate']
    highest_crime_rate = data_sorted.iloc[0, 2:]
    worst_crime_percentage = highest_crime_rate.max()/data_sorted.loc[worst_year, 'Total']
    
    return greatest, ans2, worst_crime_percentage
prob3()

('Property',
 array([2000, 2001, 2002, 2003, 2005, 2007, 2006]),
 0.8997188308734142)

# Problem 4

In [5]:
def prob4(file='DJIA.csv'):
    """

    Read the data with a DatetimeIndex as the index.
    Drop rows with missing values, cast the "VALUE" column to floats, then return the updated DataFrame.

    Parameters:
        file (str): data file
    Returns:
        df (DataFrame): updated DataFrame of stock market data
    """
    
    
    data = pd.read_csv(file, delimiter=',')
    data["DATE"] = pd.to_datetime(data["DATE"])
    data = data.set_index('DATE')
    data["VALUE"] = pd.to_numeric(data["VALUE"], errors='coerce')
    data = data.dropna()
    
    return data
prob4()

               VALUE
DATE
2006-09-27  11689.24
2006-09-28  11718.45
2006-09-29  11679.07
2006-10-02  11670.35
2006-10-03  11727.34
...              ...
2016-09-20  18129.96
2016-09-21  18293.70
2016-09-22  18392.46
2016-09-23  18261.45
2016-09-26  18094.83

[2517 rows x 1 columns]

# Problem 5

In [6]:
def prob5(file='paychecks.csv'):
    """

    Create data_range for index of paycheck data.

    Parameters:
        file (str): data file
    Returns:
        df (DataFrame): DataFrame of paycheck data
    """
    date_time = pd.date_range(start='3/14/2008', periods=93, freq='2W-FRI')
    
    data = pd.read_csv(file, delimiter=',', header=None)
    data = data.set_index(date_time)
    return data
prob5()

                  0
2008-03-14  1122.26
2008-03-28   921.03
2008-04-11   962.46
2008-04-25  1035.97
2008-05-09  1078.59
...             ...
2011-07-29  1095.53
2011-08-12  1018.39
2011-08-26  1027.08
2011-09-09  1005.90
2011-09-23   963.29

[93 rows x 1 columns]

# Problem 6

In [7]:
def prob6(file='DJIA.csv'):
    """
    Compute the following information about the DJIA dataset
    1. The single day with the largest gain
    2. The single day with the largest loss

    Parameters:
        file (str): data file
    Returns:
        max_day (<M8[ns]): DateTimeIndex of maximum change
        min_day (<M8[ns]): DateTimeIndex of minimum change
    """
    
    data = prob4(file)
    data = data.diff()
    largest_gain = data.idxmax()[0]
    largest_loss = data.idxmin()[0]
    
    return largest_gain, largest_loss
prob6()

(Timestamp('2008-10-13 00:00:00'), Timestamp('2008-09-29 00:00:00'))